<h1>{{heroe.nombre | uppercase}} <small>({{heroe.aparicion | date:'y'}})</small></h1>
<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img src="{{heroe.img}}" class="img-fluid" alt="{{heroe.nombre}}">
    <br><br>
    <a [routerLink]="['/heroes']" routerLinkActive="router-link-active"
      class="btn btn-outline-warning btn-block">Reresar</a>
  </div>
  <div class="col-md-8">
    <h3>Nombre del Héroe:</h3>
    <h2>{{heroe.nombre}}</h2>
    <hr>
    <p>Biografía: </p>
    <p>{{heroe.bio}}</p>
    <div class="img-fluid">
      <img *ngIf="heroe.casa == 'Marvel'" class="img-logo" src="assets/img/marvel.png" alt="{{heroe.casa}}">
      <img *ngIf="heroe.casa == 'DC'" class="img-logo" src="assets/img/dc.png" alt="{{heroe.casa}}">
    </div>
  </div>
</div>
